body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

.item-box {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    font-size: 18px;
}
